##############################
## Java
##############################
*.class
out/
bin/
target/

##############################
## IDE
##############################

.idea_modules/
.settings/
.vscode/
*.iml
*.ipr
*.iws
.metadata
.classpath
.project
